/* Roboto Thin font */
@font-face {
  src: url(fonts/Roboto/Roboto-medium.ttf);
  font-family: roboto-medium;
}

/* Oswald Regular font */
@font-face {
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
  font-family: oswald-regular;
}

/* Styling for body */
body {
  background-color: rgb(41, 39, 39);
  color: white;
  text-align: center;
  font-family: oswald-regular;
}

/* Styling for h1 */
h1 {
  margin: 15px 0px 20px;
  text-shadow: 2px 2px black;
  font-size: 40px;
}

/* Styling for "New Note" and "Sort" buttons */
#createNote, #sort {
  width: 130px;
  height: 45px;
  background-color: rgb(63, 109, 201);
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px black;
  font-family: oswald-regular;
  font-size: 23px;
  color: white;
}

/* Hover effect for "New Note" and "Sort" buttons */
#createNote:hover, #sort:hover {
  background-color: rgb(42, 83, 165);
  cursor: pointer;
}

/* Spacing between buttons */
#createNote {
  margin-right: 30px;
}

/* Styling for textarea */
textarea {
  width: 300px;
  height: 190px;
  resize: none;
  outline: none;
  background-color: rgb(241, 241, 241);
  border-radius: 7px;
  padding: 10px;
  font-family: oswald-regular;
  font-size: 21px;
  grid-area: textarea;
}

/* Styling for Div element that holds all of the notes */
#notesDiv {
  margin-top: 35px;
  width: 100%;
  text-align: center;
}

/* Styling for each individual note element */
.noteElement {
  margin-bottom: 25px;
}

/* Styling for Edit and Delete buttons */
.edit, .delete {
  width: 150px;
  height: 35px;
  margin-top: 8px;
  border: none;
  border-radius: 7px;
  background-color:rgb(59, 55, 55);
  color: white;
  font-family: roboto-medium;
  font-size: 18px;
}

/* Hover effect for Edit and Delete buttons */
.edit:hover, .delete:hover {
  background-color:rgb(72, 69, 69);
  cursor: pointer;
}

/* Styling for different widths */
@media only screen and (min-width: 800px){
  h1 {
    margin: 25px 0px 35px;
    font-size: 75px;
  }

  #createNote, #sort {
    width: 200px;
    height: 60px;
    font-size: 30px;
  }

  .noteElement {
    margin-bottom: 45px;
  }

  textarea {
    width: 675px;
    height: 500px;
    padding: 18px;
    font-size: 35px;
  }

  .edit, .delete {
    width: 250px;
    height: 50px;
    font-size: 30px;
  }

  .edit {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1000px){
  textarea {
    width: 900px;
  }
}
